body {
    font-size: medium;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a img {
    width: 80px;
    height: 80px;
    align-items: center;
    background: url(logo.jpg);
}

#pageContainer {
    display: table;
    text-align: center;
    font: bold;
    font-size: large;
    color: #000;
    margin: 30px auto;
    width: 960px;
}

.article {
    text-align: center;
    width: 920px;
    align-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    min-height: 1080px;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
}

.mainMenuDiv {
    float: left;
    width: 100px;
    height: 5px;
    background-color: #45ad54;
    border: none;
    overflow: hidden;
    padding: 15px;
    margin-left: 80px;
    border-radius: 10px;
    text-align: match-parent;
}

    .mainMenuDiv a {
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }

nav {
    text-align: center;
    font-size: large;
    font: bold;
}

    nav img {
        height: auto;
        width: 100%;
        align-content: center;
        margin-top: 50px;
    }

h2 {
    margin-top: 0px;
    text-align: initial;
    color: #000;
    font-size: x-large;
    margin-left: 30px;


}

.listContainer {
    width: 500px;
    margin-top: 25px;
}

.listItem {
    width: 400px;
    float: left;
    min-height: 100px;
    overflow: hidden;
    margin-top:0px;
}

    .listItem img {
        width: 300px;
        margin-top: 30px;
        height:200px;
    }

.pagecolumn {
    width: 400px;
    float: left;
    padding: 20px;
    margin-top: 20px;
}

footer {
    display: block;
    position: static;
    color: #45ad54;
    font-size: medium;
    margin-bottom:30px;
    text-align: center center;
}

a ReceptSidan {
    width: 128px;
    height: 128px;
}

nav img {
    width: 450px;
    height: 300px;
    float: left;
    margin-top: 100px;
}

h3 {
    text-align: initial;
    margin-top: 130px;
}

.pagecolumn2 {
    float: left;
}

.text2 {
    margin-left: 150px;;
    padding: 10px;
    font-style: oblique;
    width:900px;
    margin-top:20px;
}

.text3 {
    margin-top: 0 auto;
    text-align: left;
    font-size: large;
   
}
/*Israa*/
#content{
background-color:rgba(118, 244, 79, 0.21);
width: 1000px;
min-height: 900px;
margin: 0 auto;
margin-top:3px;
border:9px solid;
border-radius:20px;
border-color:rgba(54, 163, 46, 0.83);
box-shadow:
inset 0 0 0 3px rgba(54, 163, 46, 0.83), 
0 2px 5px rgba(54, 163, 46, 0.83);
}

#text{
float:left;
margin-left:20px;
text-align:center;
border:4px solid rgba(54, 163, 46, 0.83);
border-radius:20px;
box-shadow:
inset 0 0 0 3px rgba(54, 163, 46, 0.83), 
0 2px 5px rgba(54, 163, 46, 0.83);
width:950px;
height:130px;
color:#368a2b;
font-size:35px;
font-family:"Comic Sans MS", cursive, sans-serif;
}

/*the navigation*/
#meny  div a { 
display: block;
float:left;
width: 150px;
padding: 5px 10px 5px 10px;
margin: 10px;
margin-top:30px;
margin-bottom:20px;
margin-left:25px;
text-align: center;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 23px;
color: rgba(66,48,1,1);
border-radius: 10px;
border: 1px solid rgba(105,181,50,1);
background: rgba(122,199,67,1);
box-shadow: 
inset 0 0 0 1px rgba(255, 255, 255, 0.3), 
0 2px 3px rgba(0,0,0,0.70);
}

#meny a:link, #meny a:visited { 
color: rgba(255,255,255,1);
text-decoration: none;
}
/*pic of the veckanslunch*/
#div veckanslunch{
margin-top:250px;
}
